* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0 !important;
  scrollbar-width: 8px;
}

body {
  height: 100vh; 
  color: rgb(var(--foreground-rgb));
  background-color: #121212;
  background: linear-gradient(
      to bottom,
      #121212,
      #000000
    )
}

a {
  color: inherit;
  display: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36);
  border-radius: 8px;
  box-shadow: inset 0 0 1px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
