  
.skeleton-wrapper {
  overflow: hidden;
  position: relative;
  animation: shimmer 1.3s infinite linear;
  background: -webkit-gradient(linear, 100% 0, 0 0, from(transparent), color-stop(0.5, transparent), to(transparent));
}

.skeleton {
  height: 20px;
  margin-bottom: 10px;
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: 0 top;
  }
  90% {
    background-position: 300px top;
  }
  100% {
    background-position: 300px top;
  }
}